#wrapper {
  position: fixed;
  bottom: 0; /* Stick to the top of the page */
  left: 0;
  width: 100%; /* Full width */
  /* bottom: 0px; */
  /* border: 1px solid white; */
  /* width: 100%; */
  /* height: 10%; */
}

#rack {
  flex: 1;
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  background-color: #242424;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-top: 1px solid white;
  transition: background-color 0.5s;
  min-height: 50px;
  animation: fadein 1s;
}

/* the size of this should be based on the screen width */
/* maybe we should do the same thing for our tileboard */

.tile {
  user-select: none;
  width: calc(100vw / 32);
  height: calc(100vw / 32);
}

@media screen and (max-width: 600px) {
  .tile {
    width: calc(100vw / 10);
    height: calc(100vw / 10);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#tilerack::-webkit-scrollbar {
  width: 12px;
}

#tilerack::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#tilerack::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(166, 166, 166);
  -webkit-box-shadow: inset 0 0 6px gray;
}
