.board {
  border: 1px solid rgb(251, 145, 6);
  border-radius: 5%;
  overflow: hidden;
  position: absolute;
  width: 50%;
  height: 75%;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  color: white;
}

@media screen and (max-width: 600px) {
  .board {
    border-radius: 0;
    width: 99%;
  }
}
