#tiles {
  /* flex: 3; */
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
  /* position: absolute; */
  /* width: 100vw; */
  font-size: 0;
  display: flex;
  flex-direction: column;
  border: 0.1px solid rgb(133, 133, 133);
}

#tiles::-webkit-scrollbar {
  display: none;
  /* width: 12px; */
}

#tiles::-webkit-scrollbar-track {
  display: none;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  /* border-radius: 10px; */
}

#tiles::-webkit-scrollbar-thumb {
  display: none;
  /* border-radius: 10px; */
  /* background: rgb(166, 166, 166); */
  /* -webkit-box-shadow: inset 0 0 6px gray; */
}

#tiles::-webkit-scrollbar-corner {
  display: none;
  /* background: rgba(0, 0, 0, 0.5); */
}

.row {
  /* width: 100vw; */
  display: flex;
}

/* we should make all the tilespaces the
 same size of the tile so style doesn't look weird when placing
*/
.tile {
  color: white;
  width: calc(100vw / 32);
  height: calc(100vw / 32);
  padding: 5px;
  background-color: #1a1a1a;
  border: 0.1px solid rgb(133, 133, 133);
  transition: background-color 0.25s;
}

@media screen and (max-width: 600px) {
  .tile {
    width: calc(100vw / 10);
    height: calc(100vw / 10);
  }
}

.tile:hover {
  background-color: #292828;
}

/* .tilespace:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  border: 2px solid rgb(174, 172, 62);
} */
