body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  background-color: #1a1a1a;
  box-shadow: 0 0 0px;
}

button {
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.board {
  /* border: 1px solid rgb(251, 145, 6); */
  /* border-radius: 5%; */
  /* overflow: hidden; */
  /* position: absolute; */
  /* width: 50%; */
  /* height: 75%; */
  /* margin: 10px; */
}

@media screen and (max-width: 600px) {
  /* .board {
    border-radius: 0;
    width: 99%;
  } */
}
