.App {
  height: 90%;
  width: 80%;
  border: 1px solid rgb(0, 255, 200);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
