body,
html,
#root {
  background-color: #1a1a1a;
  color: white;
  height: 100%;
  font-family: 'system-ui';
  user-select: none;
}

p,
li {
  font-size: 1.5rem;
}

:root {
  --tile-size: 50px;
  --color-primary: #1a1a1a;
  --color-secondary: #242424;
  --color-secondary-lighten: #262626;
}
